/* You can add global styles to this file, and also import other style files */
.shadowpremium{
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }
  
  /* .os-scrollbar-handle{
    background-color: whitesmoke !important;
  } */
  /* body::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #f58520;
    outline: 1px solid #146031;
  } */
  
  ::-webkit-scrollbar{
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
  background-color: #f58520;
  outline: 1px solid #f58520;
  }
  
  .bg-gradient-primary {
    background: #007bff linear-gradient(
  180deg
  , #507bba, #007bff) repeat-x !important;
    color: #fff;
  }
  
  .border-bottom-textbox{
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
  }
  
  .text-orange {
    color: #FE9431 !important;
  }
  
  .text-custom-primary{
    color: #f58520 !important;
  }
  .text-custom-secondary{
    color: #146031 !important;
  }
  
  .bg-custom-primary{
    background-color: #f58520 !important;
  }
  
  .bg-custom-secondary{
    background-color: #146031 !important;
  }
  
  .text-justify{
    text-align:justify;
  }
  .bg-warning {
    background-color: #FE9431 !important;
  }
  
  .text-white{
    color: #fff !important;
  }
  
  .form-control{
    display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .btn-success{
    background-color: #12670a;
  }
  
  .btn-darkgoldenrod{
    background-color: goldenrod;
    color: white;
  }
  .btn-outline-success{
    border-color: #12670a;
  }
  .btn-outline-success:hover{
    background-color: #12670a;
  }
  
  .border-custom-primary{
    border-color: #f58520;
  }
  
  .border-success{
    border-color: #12670a !important;
  }
  .border-darkgoldenrod{
    border-color: darkgoldenrod !important;
  }
  .text-success{
    color: #12670a !important;
  }
  
  .text-darkgoldenrod{
    color: darkgoldenrod !important;
  }
  
  .elevation-3{
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%) !important;
  }
  
  .elevation-4{
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
  }
  
  .clearfix{
    display: block !important;
    clear: both !important;
    content: '';
  }
  
  /* // Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
  
   }
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
  
   }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
  
  
  }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
   }
  