<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    
    <h1> Shallow and Deep Copy </h1>

    <script>
        // let obj = {
        //     name:'peter'
        // }

        // let user = obj;
        // user.name = "bruce"
        // console.log(obj);
        // console.log(user); 

        // let obj = {
        //     name:'peter'
        // }

        // // let user = Object.assign({},obj);
        // let user = {...obj};

        // user.name = "bruce"

        // console.log(obj);
        // console.log(user);


        // let obj = {
        //     name:'peter',
        //     address:{
        //         city:'New Delhi',
        //         state:'Delhi'
        //     },
        //     getData:function(){
        //         return "all data is here";
        //     }
        // }

        // let user = JSON.parse(JSON.stringify(obj))

        // user.name = "bruce"
        // user.address.city = "gurgaon"
        // console.log(obj);
        // console.log(user);

        // deep copy using lodash

        let obj = {
            name:'peter',
            address:{
                city:'New Delhi',
                state:'Delhi'
            },
            getData:function(){
                return "all data is here";
            }
        }

        let user = _.cloneDeep(obj);

        user.name = "bruce"
        user.address.city = "gurgaon"
        console.log(obj);
        console.log(user);


        // let x = "anil"
        // let y = x;

        // y = "sidhu";
        // console.log(x);



    </script>

</body>
</html>